article section h1 p {
    font-family: Arial, Helvetica, sans-serif;
}

section .card img {
    /* z-index: 1; */
    min-width: 100%;
}

section img{
    position: relative;
}

section .text {
    z-index: 1;
    position: absolute;
    top: 65%;
    right: 20%;
}

/*  */
@media only screen and (max-width:789px) {
    section .text {
        margin-left: 50%;
    }
}